
<!DOCTYPE html>
<html lang="en">
  <head>
  	<link rel="icon" type="image/x-icon" href="#" />
  	<title>e-BPM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/font.css">

	<!-- Carousel Framework -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	<div class="container-lg" style="background-color: #F6BF1Cff;">
		<a href="#">
         <img alt="Perdana Consulting Logo" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" width="50" height="50">
        </a>
	</div>
	</head>
	<body>

	<div class="container">
		<h2 class="text-center" style="font-family: Poppins-Regular;"><b>e-BPM (enterprises-Business Process Management)</b></h2>
	</div>

<div class="container">
    <form method="POST" action="/formSubmit">
        <p>
            <a class="center">Nomor PO</a><input class="center" type="text" id="noPO" name="noPO">
        </p>
        <p>
            <a class="center">Nama Product</a><input class="center" type="text" id="namaProduk" name="namaProduk">
        </p>
        <p>
            <a class="center">Jumlah Product</a><input class="center" type="text" id="jumlahProduk" name="jumlahProduk">
        </p>
		<p>
            <a class="center">Dana Requested</a><input class="center" type="text" id="dana" name="dana">
        </p>
		<p>
            <a class="center">Total Harga</a><input class="center" type="text" id="hargaProduk" name="hargaProduk">
        </p>
        <input class="btnSubmit" type="submit" id="submit" name="submit"/>
    </form>
</div>

</body>

	<style>
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
    .btnSubmit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	}
	</style>
</html>
